body {
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
    text-align: center;
}

header {
    background-color: rgb(50, 174, 59);
    padding-top: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    font-size: 16px; 
    color: white;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0; 
    margin: 0; 
}

.navbar a {
    color: inherit;
    text-decoration: none;
    padding: 8px 10px; 
    display: block;
}

.navbar a:hover {
    background-color: rgb(31, 109, 36);
}

.navbar li {
    margin-left: 10px; 
}

.main_paragraphs {
    font-size: x-large;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
}

#title_h1 {
    text-align: center;
    font-family: 'League Spartan';
    padding-left: 20px;
    padding-right: 20px;
}

#title_main {
    font-family: 'League Spartan';
    font-size: 100px;
    padding-top: 0%;
}


#subtitle_main {
    font-family: 'League Spartan';
    font-size: 40px;
    padding-top: 0%;
    
}
#main_button {
    width: 12em; 
    height: 4em; 
    border-radius: 30em;
    font-size: 18px; 
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    background-color: yellow;
    z-index: 1;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), /* Light shadow for glow */
                0 2px 4px rgba(0, 0, 0, 0.5); /* Dark shadow for depth */
    color: black; 
    transition: color 0.5s ease; /* Smooth transition for text color */
}

#main_button::before {
    content: '';
    width: 0;
    height: 4em; 
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: width 0.5s ease; /* Smooth transition for background width */
    display: block;
    z-index: -1;
}

#main_button:hover::before {
    width: 12em; 
}

#main_button:hover {
    color: white; /* Change text color to white on hover */
}

#main_button a {
    color: inherit; /* Inherit the text color from the button */
    text-decoration: none;
}

#container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 100px;
    width: 90%;
    align-items: stretch; /* Ensure children stretch to the same height */
}



#video, #canvas, #videoFeed {
    width: 100%; /* Ensure these elements fill the container */
    height: auto; /* Ensure these elements fill the container */
    object-fit: cover; /* Ensures the video covers the entire container */
    top: 0;
    left: 0;
    display: none;
}

#videoFeed {
    display: none; /* Hide the image initially */
    width: auto; /* Let the image use its intrinsic width */
    height: auto; /* Let the image use its intrinsic height */
    max-width: none; /* Remove any max-width constraints */
    max-height: none; /* Remove any max-height constraints */
    object-fit: none; /* Disable object-fit */
}

#startButton, #stopButton {
    margin-top: 10px; /* Adjust this value as needed */
}

#stopButton {
    align-items: center; /* Center vertically */
}

#startButton {
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    height: 590px;
    overflow: auto; /* Add scrollbars if the image is too large */
    background-color: gray; /* Add a white background */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex: 2;
    width: 800px;
    position: relative; /* Add this to ensure children can inherit size */
}

#startButton:hover {
    background-color: goldenrod;
}

#uploadSection {
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    flex: 1;
}

#uploadSection h3 {
    font-family: 'League Spartan';
    font-size: x-large;
}

#uploadButton {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    background-color: #0fd850;
    border-radius: 5%;
    border: none;
    font-family: Oswald;
    color: white;
}

#uploadButton:hover {
    background-color: rgb(31, 109, 36);
}


.about-phae{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-right:2px;
}

.about-phae h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-phae h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #555;
}

.about-phae p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-ext{
    margin: 0 auto;
    padding: 20px;
    margin-top: 90px;
    text-align: center;
    margin-left:2px;
    justify-content: space-between; 
    
}

.about-ext h1 {
    display: block;
    font-size: 2.5em;
    margin-bottom: 10px;
    max-width: 800px;
}

.about-ext h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #555;
    max-width: 800px;
}

.about-ext p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
}

.about-ext img {
    float: right;
    width: 640px;
    height: 420px;
    display: inline;
}

.about-devs{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.about-devs h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-devs h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #555;
}

.about-devs p {
    font-family: monospace;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}


.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.member {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: width 0.35s, height 0.35s;
}

.member img:hover {
    width: 175px;
    height: 175px;
}

.member h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.member p {
    font-size: 0.9em;
    color: #777;
}

.home_image{
    max-width: 100px;
    height:auto;
}

#title_name{
    font-family: 'League Spartan';
    padding-top: 60px;
    font-size: 80px;
}

#devs-title{
    font-family: 'League Spartan', Courier, monospace;
    padding-top: 30px;
    font-size: 80px;
}

video, img {
    width: inherit;
    height: inherit;
}

.left_cont_ext{
    height: relative;
    width: relative;
}

body {
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
    text-align: center;
}

header {
    background-color: rgb(50, 174, 59);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    font-size: larger;
    color: white;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
    
}

.navbar a {
    color: inherit;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: rgb(31, 109, 36);
}

.navbar li {
    margin-left: 20px;
}

.main_paragraphs {
    font-size: x-large;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
}

#title_h1 {
    text-align: center;
    font-family: 'League Spartan';
    padding-left: 20px;
    padding-right: 20px;
}

#title_main {
    font-family: 'League Spartan';
    font-size: 100px;
    padding-top: 0%;
}


#subtitle_main {
    font-family: 'League Spartan';
    font-size: 40px;
    padding-top: 0%;
    
}
#main_button {
    width: 12em; 
    height: 4em; 
    border-radius: 30em;
    font-size: 18px; 
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    background-color: yellow;
    z-index: 1;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), /* Light shadow for glow */
                0 2px 4px rgba(0, 0, 0, 0.5); /* Dark shadow for depth */
    color: black; 
    transition: color 0.5s ease; /* Smooth transition for text color */
}

#main_button::before {
    content: '';
    width: 0;
    height: 4em; 
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: width 0.5s ease; /* Smooth transition for background width */
    display: block;
    z-index: -1;
}

#main_button:hover::before {
    width: 12em; 
}

#main_button:hover {
    color: white; /* Change text color to white on hover */
}

#main_button a {
    color: inherit; /* Inherit the text color from the button */
    text-decoration: none;
}

#container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 100px;
    width: 90%;
}

#videobox {
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    min-height: 530px; /* Use min-height instead of height */
    flex: 2;
    min-width: 50%;
    position: relative;
    padding-bottom: 0;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: white; /* Add a white background */
    width: 800px;
    overflow: hidden; /* Default overflow behavior */
}

#uploadSection {
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    flex: 1;
}

.about-phae{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-right:2px;
}

.about-phae h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-phae h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #555;
}

.about-phae p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-ext{
    margin: 0 auto;
    padding: 20px;
    margin-top: 90px;
    text-align: center;
    margin-left:2px;
    justify-content: space-between; 
    
}

.about-ext h1 {
    display: block;
    font-size: 2.5em;
    margin-bottom: 10px;
    max-width: 800px;
}

.about-ext h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #555;
    max-width: 800px;
}

.about-ext p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
}

.about-ext img {
    float: right;
    width: 640px;
    height: 420px;
    display: inline;
}

.about-devs{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.about-devs h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.about-devs h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #555;
}

.about-devs p {
    font-family: monospace;
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}


.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.member {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: width 0.35s, height 0.35s;
}

.member img:hover {
    width: 175px;
    height: 175px;
}

.member h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.member p {
    font-size: 0.9em;
    color: #777;
}

.home_image{
    max-width: 100px;
    height:auto;
}

#title_name{
    font-family: 'League Spartan';
    padding-top: 60px;
    font-size: 80px;
}

#devs-title{
    font-family: 'League Spartan', Courier, monospace;
    padding-top: 30px;
    font-size: 80px;
}

.left_cont_ext{
    height: relative;
    width: relative;
}

#device_data {
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 300px;
    flex: 1;
    height: 703px;
    width: 600px;
    font-size: x-large;
}

#device_data h3 {
    font-family: 'League Spartan';
    font-size: xx-large;
}

#dismantling_cont {
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 300px;
    flex: 1;
    height: relative;
    width: calc(100% - 120px); /* Adjust based on margins and gaps */
    margin: 20px auto; /* Center the container */
    font-size: x-large;
}

#dismantling_cont h3 {
    font-family: 'League Spartan';
    font-size: xx-large;
}

.right_cont_ext{
    height: relative;
    width: relative;
}

.right_cont_ext{
    height: relative;
    width: relative;
}