{% extends 'base.html' %}

{% block head %}
    <title>e-Xtract</title>
{% endblock %}

{% block body %}
<header>
    <div class="header-container">
        <h1 id="title_h1">e-Xtract</h1>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('views.home')}}">Home</a></li>
                <li><a href="{{ url_for('extract.extract') }}">Extract</a></li>
                <li><a href="{{ url_for('routing.disposal_route') }}">Disposal Site Map</a></li>
            </ul>
        </nav>
    </div>
    <hr>
</header>  

<main>
    <h1 id="title_main">e-Xtract</h1>
    <h2 id="subtitle_main">Maximizing Value in Electronic Waste</h2>
    <p class="main_paragraphs">e-Xtract aims to solve the ever-growing problem of
        electronic waste in the Philippines. By giving you 
        the ability to disassemble your e-waste and find valuable
        parts, our environment can potentially become a toxic and hazard-free
        one. We'll also give you the proper steps on how to safely dispose of your e-waste.
    </p>
    <button id="main_button"><a href="{{ url_for('extract.chatbot') }}">Get Started</a></button>
</main>
{% endblock %}
