{% extends 'base.html' %}

{% block head %}
    <title>e-Xtract</title>
{% endblock %}

{% block content %}
    <p>This is the page content.</p>
{% endblock %}

{% block body %}
<main>
    <h1 id="title_main">e-Xtract</h1>
    <h2 id="subtitle_main">Maximizing Value in Electronic Waste</h2>
    <p class="main_paragraphs">e-Xtract aims to solve the ever-growing problem of
        electronic waste in the Philippines. By giving you 
        the ability to disassemble your e-waste and find valuable
        parts, our environment can potentially become a toxic and hazard-free
        one. We'll also give you the proper steps on how to safely dispose of your e-waste.
    </p>
    <button id="main_button"><a href="{{ url_for('extract.extract') }}">Get Started</a></button>
</main>
{% endblock %}
